* linguist-vendored
*.php linguist-vendored=false
*.sql linguist-vendored=false
**/*.css linguist-vendored=true
**/*.html linguist-vendored=true
**/*.js linguist-vendored=true
**/*.less linguist-vendored=true
